/* Css for Web pages*/

/* Margin for web layout*/
* {
    box-sizing: border-box;
    margin:0 auto;
}
/* Body Background image */
body{
    background-image: url(images/swirl_pattern.png);
}
/* styles for header*/
.navigation{
    background:#ffffff;
}

/* header {
    background:#ffffff;
    padding:0 50px 82px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:100%;
    border-bottom: 2px;
    border-bottom-style:solid;
    color:#cccccc;    
    z-index: 5;
 } */

/*Link styles*/

a:hover {
    color: #666666;
}
a {
    color:#4aaaa5;
}


.myPic {
    width: 175px;
    height:200px;
}
/* Paragraph font*/
p {
    font-family: Arial, Helvetica, sans-serif;
}

.nav1 {
    background: #ffffff;
    border-bottom: solid;
    border-bottom-color: #dddddd;
}
.navbar-brand {
    color: #ffffff;
}
/*font style for h2*/
h2 {
    background: #ffffff;
    color: #4aaaa5;
    text-align: center;
    font-size: 40px;
    border-bottom: solid;
    border-bottom-style: double;
}
/*contact form*/
form {
    margin: 5px;
}

/*Portfolio images*/
.PortfolioPics{
    text-align: center;
    padding:5px 20px;
}
.PortfolioSec{
    background:#ffffff;
    padding: 20px;
    clear: both;
    overflow: auto;
}
.Pictures {
    float:left;
    margin:5px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position:relative;
}
/* container/box for indivisual images*/
.minibox{
    float: left;
    height:200px;
    width: 300px;
    position: absolute;
    clear: both;
    position: relative;
    overflow: hidden;
}
/* text for images*/
.titlepic{
    font-family:Arial, Helvetica, sans-serif;
    background:#4aaaa5;
    padding: 10px 20px;
    width: 100%;
    margin: 5px;
    text-align: center;
    position: sticky;
    clear: both;
    overflow: auto;    
    bottom: 25px;
    color: #ffffff;
}



.myName{
    background-color:#4aaaa5;
    font-size: 25px;
    padding: 20px;
    
}

/*Container for Main Content styles*/

.content {
    background: #ffffff;
    margin-top: 3em;
    padding:10px 25px;
    border: 1.5px;
    border-color: #dddddd;
    border-style: solid;
    width: 60%;
}

footer {
    position: absolute;
    margin:0;
    margin-top: 3em;
    background:#666666;;
    padding:20px;
    width: 100%; 
    border-top: 5px;
    border-top-style: solid;   
    text-align: center;
    border-color: #4aaaa5
}
